* {
  margin: 0;
  padding: 0;
}
.logo {
  height: 300px;
  width: aut;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #1e3c72, #010814);
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #1e3c72;
}

.header img {
  height: 30px;
  width: auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #1e3c72;
  padding: 10px;
  margin-top: 10px;
}

.navbar li {
  margin: 0 5px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  margin: 10px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3c72;
  padding: 15px;
  color: white;
  flex: 0 0 auto;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.footer img {
  height: 30px;
  width: auto;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.footer li:last-child {
  margin-right: 0;
}

.footer li img {
  height: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header img {
    height: 60px;
    width: auto;
    margin-bottom: 10px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-around;
    position: static;
    margin-top: 20px;
  }

  .navbar li {
    margin: 0;
  }

  .hero {
    margin-top: 20px;
    padding-top: 20px;
  }

  .footer {
    position: static;
    margin-top: 20px;
  }
}
